<div class="container">
  <div class="dropdown">
    <select>
      <option value="">Department</option>
      <option *ngFor="let d of departmentData" value=`${departmentData.departmentName}`>{{ d.departmentName }}</option>
      
    </select>
  </div>

  <div class="dropdown">
    <select>
      <option value="">Month</option>
      <option *ngFor="let m of monthData" value=`${m}`>{{ m }}</option>
    </select>
  </div>

  <div class="dropdown">
    <select>
      <option value="">Year</option>
      <option *ngFor="let y of yearData" value=`${m}`>{{ y }}</option>
    </select>
  </div>
  <button class="button btn btn-primary btn-lg" (click)="submit()">Submit</button>
</div>
