<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Good</th>
        <th scope="col">Above average</th>
        <th scope="col">average</th>
        <th scope="col">Below average</th>
        <th scope="col">Poor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Ownership</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault"></td>
      </tr>

      <tr>
        <th scope="row">Quality</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault1"></td>
      </tr>
      
      <tr>
        <th scope="row">Team coordinator</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault2"></td>
      </tr> 

      <tr>
        <th scope="row">Attitude</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault3"></td>
      </tr> 

      <tr>
        <th scope="row">Communication</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault4"></td>
      </tr>

      <tr>
        <th scope="row">Technical Knowledge</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault5"></td>
      </tr>

      <tr>
        <th scope="row">Timely Delivery</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault6"></td>
      </tr>

      <tr>
        <th scope="row">Jira and Scrum process</th>
        <td class="center" *ngFor='let columns of columns'><input class="form-check-input" type="radio" name="flexRadioDefault7"></td>
      </tr>

    </tbody>
  </table> -->


<!-- dynamic table -->
<table class="table" >
  <thead>
    <tr>
      <th></th>
      <th>Good</th>
      <th>Above average</th>
      <th>average</th>
      <th>Below average</th>
      <th>Poor</th>
      <th>Action</th>
    <tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of tableQuestions; index as i" >
      <tr>
        <th>{{item}}</th>
        <td><input (click)="select(item,'Good')" class="form-check-input" type="radio" [attr.name]="i"></td>  
        <td><input (click)="select(item,'Above average')" class="form-check-input" type="radio" [attr.name]="i"></td>  
        <td><input (click)="select(item,'average')" class="form-check-input" type="radio" [attr.name]="i"></td>  
        <td><input (click)="select(item,'Below average')" class="form-check-input" type="radio" [attr.name]="i"></td>  
        <td><input (click)="select(item,'Poor')" class="form-check-input" type="radio" [attr.name]="i"></td>  
        <td  *ngIf="formEditable" ><button class="btn btn-danger" (click)="removeField(item)" >Remove</button></td>  
      </tr>
    </ng-container>
  </tbody>
</table>
<div>
  <button  *ngIf="formEditable" class="btn btn-primary"  (click)="add_field()" >ADD FIELD</button>
  <button class="btn btn-success" [disabled]="submitButtonDisabled"  (click)="submit()" >SUBMIT</button>
</div>
<div  *ngIf="formEditable" class="row mt-5" [hidden]="!addFieldVisible">
  <div class="col-3">
    <input  #newFieldValue  type="text" class="form-control" placeholder="field Value" aria-label="Field Value">
  </div>
  <div>
    <button  (click)="cancelAddField()"  >Cancel</button>
    <button (click)="saveAddField(newFieldValue)" >Save</button>
  </div>
</div>
